<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>表单-注册</title>
</head>
<body>
<div id="page">

  <h3>用户列表：<button>加载</button></h3>
  <ul>
    <li v-for="(obj, i) in rows" :key="i">
      {{obj.id}} - {{obj.email}} - {{obj.phone}} 
      <button @click="select(i)">编辑</button>
      <button>删除</button>
    </li>
  </ul>
  



  <h3>添加新用户：</h3>
  <div id="form">
    邮箱：
    <input v-model="newrow.email" type="text"><br/>

    手机：
    <input v-model="newrow.phone" type="text"><br/>

    密码：
    <input v-model="newrow.password" type="text"><br/>

    <button type="button" @click="submit">提交</button>

  </div>


</div>
<script src="/-js/vue.3.2.31.js"></script>
<script src="/-js/axios.min.js"></script>
<script>
const app = Vue.createApp({
  mounted(){
    setTimeout(()=>{
      this.list();
    }, 500);
    
  },
  data() {
    return { 
      newrow:{
        id:-1,
        email: "",
        group: 0,
        password: "",
        phone: 0,
      },
      rows:[],
    }
  },
  methods:{

    select(index){
      this.newrow = this.rows[index];
    },

    list(){
      axios({
        method:"get",
        url:"/form/list",
      })
      .then(r=>{
        console.log(r);
        this.rows = r.data.data;
      })
      .catch(e=>{
        console.log(e.response.data);
        alert(e.response.data.msg);
      });
    },


    submit(){
      console.log('提交表单');
      axios({
        method:"post",
        url:"/form/add",
        data:{
          email:this.newrow.email,
          phone:this.newrow.phone,
          password:this.newrow.password,
        }
      })
      .then(r=>{
        console.log(r);
      })
      .catch(e=>{
        console.log(e.response.data);
        alert(e.response.data.msg);
      });
    }
  }
});

const vm = app.mount('#page')

</script>
</body>
</html>