<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>DB返回列表渲染-hiwork示例</title>
		<style type="text/css">
			*{
				margin:0;
				padding:0;
				box-sizing: border-box;
			}
			
			html{
				background-color: #F0F0F0;
				height: 100%;
				overflow-y: auto;
				
			}
			body{
				background-color: #FFF;
				max-width:480px;
				margin:0 auto;
				min-height: 100%;
				padding:1rem;
				line-height: 2;
			}
			
			ul,dl,li{
				list-style-type: none;
			}
			
			section{
				margin: 1.5rem 0;
			}
		</style>
	</head>
	<body>
		<h1>DB返回列表渲染-hiwork示例</h1>
		<hr />
		
		<section>
			<ul>
				<%
					if(typeof list=='object'){
						for(let li of list){
				%>
				<li><%=li.id;%> - <%=li.tit;%></li>
				<% 
					}
						} 
				%>
			</ul>
		</section>
		
	</body>
</html>