<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>错误: 500，捕获系统错误</title>
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<style>
*{
	line-height: 1;
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html,body{height:100%;}
body{
	display: flex;
  align-items: center;
	justify-content: center;
	background-image:linear-gradient(to bottom, #555, #DDD 65%, #555);
}
.box{
	position:relative;
	padding:50px;
	width:720px;
	/* min-height: 200px; */
	border: 1px solid #f1f2f4;
	box-shadow: 3px 3px 30px #333;
	background-color: #FFF;
}

.topborder {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height: 7px;
	background-image: linear-gradient(to right,rgba(180, 180, 180, 1) 50%,transparent 50%,transparent);
	background-size: 20%;
	background-color: #1f2023;
}

table{
	width: 100%;
	background-color: #EEE;
	border-collapse: collapse;
}

tr:hover{
	background-color: #eae3e3;
}

td{
	height: 3rem;
	line-height: 1.5;
	border: 1px solid #000;
}

.key{
	padding-right: .5rem;
	text-align: right;
	background-color: #888;
	color: #fff;
}

.str{
	padding-left: .5rem;
}

ul{
	list-style-type: none;
}


/* 错误码颜色 */
.cxxx{color:#ffc107;}
.c404{color:#ff0000;}
.c403{color:#9c27b0;}
.c500{color:#ff9800;}

.title{font-weight:600; line-height:2em;}
.emsg-box{
	line-height: 1.5;
	max-height: 120px;
	overflow-y: auto;
}
</style>

</head>
<body>
<section class="box">
	<div class="topborder"></div>
	<h3 class="title c404">[<%= locals.status || 500 %>] 错误：请即时纠正</h3>

	<table>
		<% for(let k in (locals.error || {})){ %>
			<tr>
				<td class="key"><%=k%></td>
				<td class="str">
					<% if(k=='emsg') { %>
						<div class="emsg-box">
							<%=error[k]%>
						</div>
					<% } else{ %>
						<%=error[k]%>
					<% } %>

				</td>
			</tr>
		<% } %>
	</table>

</section>

</body>
</html>