<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%=title;%>-vithen</title>
		<style type="text/css">
			*{
				margin:0;
				padding:0;
				box-sizing: border-box;
			}
			
			html{
				background-color: #F0F0F0;
				height: 100%;
				overflow-y: auto;
				
			}
			body{
				background-color: #FFF;
				max-width:960px;
				margin:0 auto;
				min-height: 100%;
				padding:1rem;
				line-height: 2;
				/* overflow-y: auto; */
			}
			
			section{
				margin: 1.5rem 0;
			}
		</style>
	</head>
	<body>
		<h1><%=title;%></h1>
		<hr />
		
		<section>
			<h3>一、 HiWork-NodeJs简述</h3>
			<p>HiWork-NodeJs，一个高效、简洁、快速上手的NodeJs-MVC框架</p>
		</section>
		
		<section>
			<h3>二、 HiWork-NodeJs介绍</h3>
			<p>* 一个使用koa作为底层的NodeJs框架；</p>
			<p>* 目录结构与层次极简化，扁平化，极易上手，满足快速、高效开发；</p>
			<p>* 全模块化设计，中间件级联式开发，异步式编程；</p>
			<p>* 静态资源多口径输出，实体目录隐藏，保证安全；</p>
			<p>* koa-router路由系统，与控制器中间件整合，更清晰的访问控制；</p>
			<p>* 高效的ejs模板引擎，视图开发易上手，更迅速；</p>
			<p>* mysql模块化封装，接口清晰，更简单的数据库操作；</p>
			<p>* log4日志优化配置，灵活的日志和调试输出；</p>
			<p>* 统一的错误和日志处理，安全可靠的错误处理机制；</p>
		</section>
		
		<section>
			<h3>三、 联系与支持</h3>
			<p>维护者：大航</p>
			<p>联 系：[QQ]二八二九二八一八六三</p>
		</section>
		
		
	  <section>
			<h3>三、 其它</h3>
			<p>hiwork-nodejs为非盈利项目，旨在提供一个高效、简洁的工具。欢迎有兴趣、有意愿的伙伴加入。</p>
		</section>
	
	</body>
</html>